

<div data-sly-use.model="com.adobe.aem.guides.foodieland.core.models.SubscribeCarde">

    <div style="display: flex; align-items: center; justify-content: center;">

    
    <h1>
        ${model.title}
    </h1>

    <p>
        ${model.text}
    </p>

    </div>

    <div style="display: flex; align-items: center; justify-content: space-between;">
        <sly  data-sly-resource="${'nome do componente' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>
</div>


<div>I`m  not sure if its getting the right angle man... but I`m getting clsoe to it. pretty sure I am let me switch tabs nwo </div>

<div>this div is huge man wtf

    <p>let me put a pragraph here </p>
</div>
<div>


    <p>
        <a href="
        rfwerifwerf">   fjofjwoewe gh eu acho que agora ta certo po </a>
    </p>
</div>