<div class="cmp-experiencefragment--header" 
    data-sly-use.header="header.js">
    <div class="cmp-layoutcontainer--utility aem-GridColumn aem-GridColumn--default--12">
        <div class="aem-Grid aem-Grid--12">

            <!--/* Adds the language navigation core component */-->
            <div class="languagenavigation cmp-languagenavigation--default cmp-languagenavigation--dark cmp-languagenavigation--header 
                        aem-GridColumn aem-GridColumn--offset--default--10 aem-GridColumn--offset--phone--8"
                data-sly-resource="${'languagenavigation' @ resourceType='foodieland/components/structure/languagenavigation'}">
            </div>
        </div>
    </div>
    <div class="cmp-layoutcontainer--header">
        <div class="aem-Grid aem-Grid--12">
            <!--/* Adds the site logo */-->
            <div
                class="wknd-header--logo aem-GridColumn aem-GridColumn--offset--tablet--1 aem-GridColumn--offset--phone--1 aem-GridColumn--tablet--6 aem-GridColumn--default--2">
                <a href="${header.rootPage.path @ extension='html'}">Foodie<strong>LAND.</strong></a>
            </div>

            <!--/* Adds the site navigation */-->
            <div class="cmp-navigation--header aem-GridColumn aem-GridColumn--default--8 aem-GridColumn--tablet--3">
                <nav class="cmp-navigation">
                    <ul class="cmp-navigation__group" data-sly-list="${header.items}">
                        <!--/****************************************************************** 
                             * Using HTL we can quickly create a list of links for the header *
                             * Notice how the sling model defined above as 'header' is used   *
                             * to get the list of pages that should be displayed.             *
                             ******************************************************************/-->
                        <li class="cmp-navigation__item cmp-navigation__item--level-1 ${item.title==currentPage.title ? ' cmp-navigation__item--active' : ''}">
                            <a class="cmp-navigation__item-link"
                                href="${ item.path @ extension = 'html'}">${item.title}</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!--/* Adds the search core component */-->
            <div class="search cmp-search--header aem-GridColumn aem-GridColumn--phone--6 aem-GridColumn--tablet--4 aem-GridColumn--default--2"
                data-sly-resource="${'search' @ resourceType='foodieland/components/structure/search'}"></div>
        </div>
    </div>
</div>